### <a href="https://lex.infosysapps.com/content-store/Infosys/Infosys_Ltd/Public/lex_auth_013333632112697344487/web-hosted/assets/rainfall1627650742214.csv">Click here</a> to find the rainfall dataset used in this exercise. This dataset contains region (district) wise rainfall across India.

In [1]:
import pandas as pd
from numpy import average as avg

<div align="justify"><b>1) Import the data into Python environment as a Pandas DataFrame.</b></div>

In [2]:
try:
    rain = pd.read_csv('rainfall.csv')
    display(rain)
except FileNotFoundError: print('File not found...')

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,KERALA,IDUKKI,13.4,22.1,43.6,150.4,232.6,651.6,788.9,527.3,308.4,343.2,172.9,48.1,3302.5,35.5,426.6,2276.2,564.2
637,KERALA,KASARGOD,2.3,1.0,8.4,46.9,217.6,999.6,1108.5,636.3,263.1,234.9,84.6,18.4,3621.6,3.3,272.9,3007.5,337.9
638,KERALA,PATHANAMTHITTA,19.8,45.2,73.9,184.9,294.7,556.9,539.9,352.7,266.2,359.4,213.5,51.3,2958.4,65.0,553.5,1715.7,624.2
639,KERALA,WAYANAD,4.8,8.3,17.5,83.3,174.6,698.1,1110.4,592.9,230.7,213.1,93.6,25.8,3253.1,13.1,275.4,2632.1,332.5
640,LAKSHADWEEP,LAKSHADWEEP,20.8,14.7,11.8,48.9,171.7,330.2,287.7,217.5,163.1,157.1,117.7,58.8,1600.0,35.5,232.4,998.5,333.6

<div align="justify"><b>2) Check for missing values, if any and drop the corresponding rows.</b></div>

In [3]:
rain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641 entries, 0 to 640
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   STATE_UT_NAME  641 non-null    object
 1   DISTRICT       641 non-null    object
 2   JAN            641 non-null    float64
 3   FEB            641 non-null    float64
 4   MAR            641 non-null    float64
 5   APR            641 non-null    float64
 6   MAY            641 non-null    float64
 7   JUN            641 non-null    float64
 8   JUL            641 non-null    float64
 9   AUG            641 non-null    float64
 10  SEP            641 non-null    float64
 11  OCT            641 non-null    float64
 12  NOV            641 non-null    float64
 13  DEC            641 non-null    float64
 14  ANNUAL         641 non-null    float64
 15  Jan-Feb        641 non-null    float64
 16  Mar-May        641 non-null    float64
 17  Jun-Sep        641 non-null    float64
 18  Oct-Dec        641 non-null    float64
dtypes: float64(17), object(2)
memory usage: 95.3+ KB

As shown above, there are no missing values in the dataset. This is further demonstrated by the fact that, when implementing the method that removes entries with missing values, the dataset remains unchanged:

In [4]:
rain = rain.dropna()
display(rain)

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,KERALA,IDUKKI,13.4,22.1,43.6,150.4,232.6,651.6,788.9,527.3,308.4,343.2,172.9,48.1,3302.5,35.5,426.6,2276.2,564.2
637,KERALA,KASARGOD,2.3,1.0,8.4,46.9,217.6,999.6,1108.5,636.3,263.1,234.9,84.6,18.4,3621.6,3.3,272.9,3007.5,337.9
638,KERALA,PATHANAMTHITTA,19.8,45.2,73.9,184.9,294.7,556.9,539.9,352.7,266.2,359.4,213.5,51.3,2958.4,65.0,553.5,1715.7,624.2
639,KERALA,WAYANAD,4.8,8.3,17.5,83.3,174.6,698.1,1110.4,592.9,230.7,213.1,93.6,25.8,3253.1,13.1,275.4,2632.1,332.5
640,LAKSHADWEEP,LAKSHADWEEP,20.8,14.7,11.8,48.9,171.7,330.2,287.7,217.5,163.1,157.1,117.7,58.8,1600.0,35.5,232.4,998.5,333.6

<div align="justify"><b>3) Find the district that gets the highest annual rainfall.</b></div>

In [5]:
hi = rain[rain['ANNUAL'] == max(rain['ANNUAL'])]['DISTRICT'].values[0]
print('District with highest annual rainfall:',hi)

District with highest annual rainfall: TAMENGLONG

<div align="justify"><b>4) Display the top 5 states that get the highest annual rainfall.</b></div>

In [6]:
top5 = rain.sort_values('ANNUAL', ascending = False)
display(top5.head())

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
55,MANIPUR,TAMENGLONG,48.5,229.6,224.5,431.5,539.9,1158.7,1820.9,1522.1,726.3,376.1,144.0,7.2,7229.3,278.1,1195.9,5228.0,527.3
47,MEGHALAYA,JAINTIA HILLS,33.8,44.1,115.1,282.3,598.8,1316.1,1591.3,933.8,826.3,517.7,110.9,9.7,6379.9,77.9,996.2,4667.5,638.3
46,MEGHALAYA,EAST KHASI HI,15.4,24.1,129.7,312.5,733.7,1476.2,1518.4,1019.4,607.8,277.9,40.3,10.7,6166.1,39.5,1175.9,4621.8,328.9
12,ARUNACHAL PRADESH,UPPER SIANG,74.3,176.7,362.6,397.5,408.7,801.9,653.0,417.9,686.0,264.9,86.9,71.7,4402.1,251.0,1168.8,2558.8,423.5
598,KARNATAKA,UDUPI,1.4,0.4,4.1,29.4,193.8,1081.0,1371.6,902.2,404.9,223.8,74.6,18.8,4306.0,1.8,227.3,3759.7,317.2

<div align="justify"><b>5) Drop the columns 'Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec'.</b></div>

In [7]:
['Jan-Feb','Mar-May','Jun-Sep','Oct-Dec']
raindrop = rain.drop(['Jan-Feb','Mar-May','Jun-Sep','Oct-Dec'], axis = 1)
display(raindrop)

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,KERALA,IDUKKI,13.4,22.1,43.6,150.4,232.6,651.6,788.9,527.3,308.4,343.2,172.9,48.1,3302.5
637,KERALA,KASARGOD,2.3,1.0,8.4,46.9,217.6,999.6,1108.5,636.3,263.1,234.9,84.6,18.4,3621.6
638,KERALA,PATHANAMTHITTA,19.8,45.2,73.9,184.9,294.7,556.9,539.9,352.7,266.2,359.4,213.5,51.3,2958.4
639,KERALA,WAYANAD,4.8,8.3,17.5,83.3,174.6,698.1,1110.4,592.9,230.7,213.1,93.6,25.8,3253.1
640,LAKSHADWEEP,LAKSHADWEEP,20.8,14.7,11.8,48.9,171.7,330.2,287.7,217.5,163.1,157.1,117.7,58.8,1600.0

<div align="justify"><b>6) Display the state-wise mean rainfall for all the months using a pivot table.</b></div>

In [8]:
piv = pd.pivot_table(raindrop, index = 'STATE_UT_NAME', aggfunc = avg).round(3)
display(piv)

,ANNUAL,APR,AUG,DEC,FEB,JAN,JUL,JUN,MAR,MAY,NOV,OCT,SEP
STATE_UT_NAME,,,,,,,,,,,,,
ANDAMAN And NICOBAR ISLANDS,2911.400,86.967,385.300,159.733,33.267,61.233,390.567,418.667,30.800,358.833,263.200,301.100,421.733
ANDHRA PRADESH,945.074,19.874,179.426,15.565,7.352,6.322,185.365,114.370,10.096,48.765,58.965,138.600,160.374
ARUNACHAL PRADESH,2927.375,275.162,378.600,35.956,93.294,53.688,547.581,491.381,165.019,300.262,43.188,176.769,366.475
ASSAM,2454.359,181.267,377.370,11.441,31.715,15.733,494.844,465.185,77.763,333.870,24.922,136.448,303.800
BIHAR,1200.555,16.866,289.482,5.787,9.279,13.134,340.837,168.782,9.874,51.674,6.716,64.747,223.379
CHANDIGARH,1070.600,14.800,287.500,23.400,38.900,44.300,282.400,120.000,33.200,30.100,9.900,31.800,154.300
CHATISGARH,1286.350,13.117,375.339,5.811,10.472,10.378,375.406,180.583,12.978,17.483,8.494,61.844,214.444
DADAR NAGAR HAVELI,2374.100,0.000,655.900,0.000,0.300,0.400,884.500,385.100,0.000,7.400,10.500,38.600,391.400
DAMAN AND DUI,1535.700,0.100,394.600,0.450,0.500,0.550,583.100,276.500,0.200,4.150,12.400,35.550,227.600
DELHI,747.100,8.900,245.500,8.600,16.300,16.400,220.700,59.800,15.300,19.300,5.600,20.500,110.200
GOA,3278.500,7.800,683.800,10.200,0.050,0.550,1108.100,908.100,0.550,87.750,35.000,155.700,280.900
GUJARAT,924.342,0.508,257.631,1.592,0.392,0.785,333.838,139.246,1.142,4.804,10.827,25.104,148.473
HARYANA,614.557,7.619,190.910,7.914,16.457,19.486,180.362,51.010,13.738,14.643,5.267,18.429,88.724
HIMACHAL,1371.592,47.683,322.325,38.225,80.450,81.925,343.825,108.683,87.633,54.358,16.908,39.308,150.267
JAMMU AND KASHMIR,1016.618,82.268,167.918,46.395,91.645,77.977,172.091,53.605,119.986,65.136,27.159,34.182,78.255
JHARKHAND,1303.438,18.662,310.317,6.704,16.321,15.838,333.854,198.775,16.517,45.875,10.212,79.404,250.958
KARNATAKA,1194.617,36.773,209.257,11.170,2.697,2.027,280.700,204.880,7.163,88.167,44.350,143.357,164.077
KERALA,2937.393,109.021,417.950,38.243,16.200,9.543,724.329,658.707,31.071,244.729,151.536,290.907,245.157
LAKSHADWEEP,1600.000,48.900,217.500,58.800,14.700,20.800,287.700,330.200,11.800,171.700,117.700,157.100,163.100
MADHYA PRADESH,1032.310,3.270,331.048,8.790,9.158,12.892,311.088,114.686,7.486,7.006,10.042,35.270,181.574
MAHARASHTRA,1278.589,6.974,314.586,7.417,3.474,4.791,388.894,240.980,5.997,19.926,18.589,75.649,191.311
MANIPUR,2496.633,150.767,451.800,11.789,55.122,22.600,498.056,487.089,82.411,213.378,56.000,189.222,278.400
MEGHALAYA,3682.843,211.229,584.371,11.043,21.686,14.900,857.743,757.229,74.757,430.043,39.571,225.571,454.700
MIZORAM,2616.322,152.600,440.589,15.289,29.944,11.567,452.311,429.833,96.256,321.322,64.633,229.822,372.156
NAGALAND,1940.700,134.227,350.873,10.355,27.673,18.482,395.036,340.318,63.018,213.382,38.555,121.155,227.627
ORISSA,1466.120,36.653,363.347,5.137,22.370,10.810,332.317,212.517,27.453,70.723,30.400,116.057,238.337
PONDICHERRY,1378.475,12.275,116.425,227.350,25.425,26.750,78.025,47.675,16.725,40.825,395.150,271.950,119.900
PUNJAB,648.545,12.160,172.415,13.905,24.480,25.965,190.610,46.325,25.900,16.165,6.085,21.700,92.835
RAJASTHAN,581.597,3.303,194.555,3.021,4.721,5.348,195.279,54.097,3.815,10.627,6.255,14.430,86.145
SIKKIM,2838.350,206.900,434.600,20.900,77.300,47.550,499.200,483.800,130.600,323.550,30.950,209.850,373.150
TAMIL NADU,960.006,42.597,91.572,96.488,14.022,18.906,72.606,50.322,18.069,67.531,184.625,186.928,116.341
TRIPURA,2479.125,220.750,356.475,11.125,33.650,11.225,414.975,465.425,93.625,391.575,43.300,176.650,260.350
UTTAR PRADESH,955.445,5.318,291.232,6.870,13.158,17.183,280.068,90.770,10.107,15.562,4.576,45.525,175.075
UTTARANCHAL,1558.038,29.815,426.785,20.831,49.592,49.892,432.792,165.715,51.669,58.392,9.238,58.838,204.477
WEST BENGAL,1810.426,56.647,361.574,7.363,19.084,15.032,412.989,308.532,27.974,139.489,19.389,124.374,317.979

<div align="justify"><b>7) Display the count of districts in each state.</b></div>

In [9]:
states = sorted(set(rain['STATE_UT_NAME']))

In [10]:
for s in states:
    d = rain[rain['STATE_UT_NAME'] == s].shape[0]
    print(f'Number of States in {s}: {d}')

Number of States in ANDAMAN And NICOBAR ISLANDS: 3
Number of States in ANDHRA PRADESH: 23
Number of States in ARUNACHAL PRADESH: 16
Number of States in ASSAM: 27
Number of States in BIHAR: 38
Number of States in CHANDIGARH: 1
Number of States in CHATISGARH: 18
Number of States in DADAR NAGAR HAVELI: 1
Number of States in DAMAN AND DUI: 2
Number of States in DELHI: 9
Number of States in GOA: 2
Number of States in GUJARAT: 26
Number of States in HARYANA: 21
Number of States in HIMACHAL: 12
Number of States in JAMMU AND KASHMIR: 22
Number of States in JHARKHAND: 24
Number of States in KARNATAKA: 30
Number of States in KERALA: 14
Number of States in LAKSHADWEEP: 1
Number of States in MADHYA PRADESH: 50
Number of States in MAHARASHTRA: 35
Number of States in MANIPUR: 9
Number of States in MEGHALAYA: 7
Number of States in MIZORAM: 9
Number of States in NAGALAND: 11
Number of States in ORISSA: 30
Number of States in PONDICHERRY: 4
Number of States in PUNJAB: 20
Number of States in RAJASTHAN: 33
Number of States in SIKKIM: 4
Number of States in TAMIL NADU: 32
Number of States in TRIPURA: 4
Number of States in UTTAR PRADESH: 71
Number of States in UTTARANCHAL: 13
Number of States in WEST BENGAL: 19

<div align="justify"><b> 8) For each state, display the district that gets the highest rainfall in May. Also display the recorded rainfall.</b></div>

In [11]:
for s in states:
    df = rain[rain['STATE_UT_NAME'] == s]
    m = df[df['MAY'] == max(df['MAY'])]
    d = m['DISTRICT'].values[0]
    r = max(df['MAY'])
    print(f'State: {s}\nDistrict: {d}\nRainfall: {r}\n')

State: ANDAMAN And NICOBAR ISLANDS
District: SOUTH ANDAMAN
Rainfall: 374.4

State: ANDHRA PRADESH
District: VISAKHAPATNAM
Rainfall: 96.6

State: ARUNACHAL PRADESH
District: PAPUM PARE
Rainfall: 453.0

State: ASSAM
District: KARIMGANJ
Rainfall: 604.0

State: BIHAR
District: KISHANGANJ
Rainfall: 155.7

State: CHANDIGARH
District: CHANDIGARH
Rainfall: 30.1

State: CHATISGARH
District: BASTAR
Rainfall: 38.6

State: DADAR NAGAR HAVELI
District: DNH
Rainfall: 7.4

State: DAMAN AND DUI
District: DAMAN
Rainfall: 7.4

State: DELHI
District: NEW DELHI
Rainfall: 19.3

State: GOA
District: NORTH GOA
Rainfall: 94.3

State: GUJARAT
District: DANGS
Rainfall: 12.5

State: HARYANA
District: PANCHKULA
Rainfall: 27.9

State: HIMACHAL
District: LAHUL & SPITI
Rainfall: 91.7

State: JAMMU AND KASHMIR
District: BARAMULLA
Rainfall: 111.4

State: JHARKHAND
District: PAKUR
Rainfall: 86.1

State: KARNATAKA
District: UDUPI
Rainfall: 193.8

State: KERALA
District: ERNAKULAM
Rainfall: 300.4

State: LAKSHADWEEP
District: LAKSHADWEEP
Rainfall: 171.7

State: MADHYA PRADESH
District: ANUPPUR(SHAHD
Rainfall: 19.9

State: MAHARASHTRA
District: KOLHAPUR
Rainfall: 60.2

State: MANIPUR
District: TAMENGLONG
Rainfall: 539.9

State: MEGHALAYA
District: EAST KHASI HI
Rainfall: 733.7

State: MIZORAM
District: AIZAWL
Rainfall: 351.4

State: NAGALAND
District: WOKHA
Rainfall: 325.6

State: ORISSA
District: GAJAPATI
Rainfall: 136.8

State: PONDICHERRY
District: PONDICHERRY
Rainfall: 43.6

State: PUNJAB
District: RUPNAGAR
Rainfall: 25.6

State: RAJASTHAN
District: JHUNJHUNU
Rainfall: 20.7

State: SIKKIM
District: NORTH SIKKIM
Rainfall: 355.4

State: TAMIL NADU
District: KANYAKUMARI
Rainfall: 141.5

State: TRIPURA
District: NORTH TRIPURA
Rainfall: 440.1

State: UTTAR PRADESH
District: BALRAMPUR
Rainfall: 38.6

State: UTTARANCHAL
District: UTTARKASHI
Rainfall: 102.1

State: WEST BENGAL
District: COOCH BEHAR
Rainfall: 345.4